
    <div class="splash-site-wrapper">

      <div class="">
        <header class="clearfix">
          <div class="container-fluid green-bg inner">
          <a href="/"><img class="logo-img" src="https://p22.f4.n0.cdn.getcloudapp.com/items/geu1dE5N/96ac79b5-8817-44a7-86b2-230c2e64624c.jpg?source=viewer&v=360d5809c6be0c09e5e7e5f753599869" alt=""></a>
            <nav>
              <ul class="nav masthead-nav">
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete if current_user.present? %></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="container">
          <!-- <div class="inner cover">
            <h1 class="one-time d-none blue-text">Thank you for supporting The Chicago Lighthouse.</h1>
             <h3 class="one-time d-none blue-text">Please refresh the page to watch again</h3>
            <video class="video-wrapper" autoplay="true" oncontextmenu="return false;" id="myVideo" controls controlsList="nodownload">
              <source src="https://storage.googleapis.com/b-media/2022_chicago.mp4" type="video/mp4">
            </video> 
        </div> -->
        <!--  -->
      
          <div class="inner cover inner-cover">
            <h1 class="cover-heading">Thank you for contributing to The Chicago Lighthouse.</h1>
            <p class="lead">
              <!-- <%= button_to "Watch Now", video_path, method: :get %> -->
              The virtual tour will be available from Friday, November 3rd starting at 9am central time through Sunday, November 5th at 9pm central time.
            </p>
            <!-- New login links on landing page -->
            <!-- <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, "Email Address" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
  
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
  
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <span><br></span>
              </div>
            <% end %>
  
            <div class="actions">
              <%= f.submit "Login", class: "btn btn-success btn-lg" %>
            </div>
          <% end %> -->
                    
          </div>
             
        <!--  -->
      </div>

      </div>

    </div>
