
<div class="splash-site-wrapper">
  <div class="">
    <header class="clearfix">
      <div class="container-fluid green-bg inner">
      <a href="/"><img class="logo-img" src="https://p0.f0.n0.cdn.getcloudapp.com/items/nOubGPm4/2ac0c873-6a71-4878-876d-0ce125d31c00.png?source=viewer&v=5d94e0cb033c8a44cdebe50e1677269f" alt=""></a>
        <nav>
          <ul class="nav masthead-nav">
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
        <div class="inner inner-cover">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, "Email Address" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <span><br></span>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Login", class: "btn btn-success btn-lg" %>
            </div>
          <% end %>

        </div>

        </div>

      </div>

    </div>
