
<div class="splash-site-wrapper">

  <div class="">
    <header class="clearfix">
      <div class="container-fluid green-bg inner">
        <a href="/"><img class="logo-img" src="http://ericchesbrough.com/media/new-logo.jpg" alt=""></a>
        <nav>
          <ul class="nav masthead-nav">
            
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
          <div class="inner inner-cover">


            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, "Email Address" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>


              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <span><br></span>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Login", class: "btn btn-success btn-lg" %>
              </div>
            <% end %>

          </div>

        </div>

      </div>

    </div>
